<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.0.1/css/bootstrap.css">
    <script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<h1>
    <p class="text-dark">Добавить товар</p>
</h1>
<body>
<form th:method="post" th:action="@{/warehouses/add_product}" name="add_product" enctype="application/x-www-form-urlencoded" th:object="${productForm}">

    <label>
        ID склада:
        <input type="text" th:value="${productForm.warehouseId}" name="warehouseId">
        <div th:each="error : ${#fields.errors('warehouseId')}" th:text="${error}" class="alert alert-danger" role="alert"></div>
    </label>
    <label>
        Артикул:
        <input type="text" th:value="${productForm.vendorCode}" name="vendorCode">
        <div th:each="error : ${#fields.errors('vendorCode')}" th:text="${error}" class="alert alert-danger" role="alert"></div>
    </label>

    <label>
        Наименование:
        <input type="text" name="name" th:value="${productForm.name}" class="form-control">
        <div th:each="error : ${#fields.errors('name')}" th:errors="*{name}" class="alert alert-danger" role="alert"></div>
    </label>

    <label>
        Цена последней закупки:
        <input type="text" name="lastPurchasePrice" th:value="${productForm.lastPurchasePrice}" class="form-control">
        <div th:each="error : ${#fields.errors('lastPurchasePrice')}" th:errors="*{lastPurchasePrice}" class="alert alert-danger" role="alert"></div>
    </label>
    <label>
        Цена последней продажи:
        <input type="text" name="lastSalePrice" th:value="${productForm.lastSalePrice}" class="form-control">
        <div th:each="error : ${#fields.errors('lastSalePrice')}" th:errors="*{lastSalePrice}" class="alert alert-danger" role="alert"></div>
    </label>
    <p>
        <input type="submit" class="btn btn-outline-success">
    </p>
</form>
<p>
    <a href="/main" class="btn btn-dark btn-sm">На главную</a>
</p>

</body>
</html>