<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.0.1/css/bootstrap.css">
  <script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<h1>
  <p class="text-dark">Новый склад</p>
</h1>

<body>
<form th:method="post" th:action="@{/warehouses/new_warehouse}" name="new_warehouse"
      enctype="application/x-www-form-urlencoded" th:object="${warehouseForm}">

  <label>
    Название:
    <input type="text" name="name" th:value="${warehouseForm.name}" class="form-control">
    <div th:each="error : ${#fields.errors('name')}" th:errors="*{name}" class="alert alert-danger" role="alert"></div>
  </label>

  <p>
    <input type="submit" class="btn btn-outline-success">
  </p>
</form>
<p>
  <a href="/main" class="btn btn-dark btn-sm">На главную</a>
</p>

</body>
</html>