<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.0.1/css/bootstrap.css">
<head>
    <title>Пользователи</title>
</head>
<body>
<table class="table table-striped">
    <tbody th:if="${not #lists.isEmpty(userList)}">
    <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Роль</th>
    </tr>
    <th:block th:each="u : ${userList}">
        <tr>
            <td th:text="${u.id}"></td>
            <td th:text="${u.username}"></td>
            <td th:text="${u.role}"></td>
        </tr>
    </th:block>
    </tbody>
    <tbody th:if="${#lists.isEmpty(userList)}">
    <tr>
        <td>Пользователей не найдено</td>
    </tr>
    </tbody>
</table>
<p>
    <a href="/main" class="btn btn-outline-dark">На главную</a>
</p>

</body>
</html>